.cont-header {
  width: 100%;
  &__nav {
    background-color: #373737;
  }
  
  ::ng-deep p-menubar {
    width: 100%;
      width: 100%;
      .p-menubar {
        background-color: var(--white);
        padding: 0;
        border: none;
        justify-content: space-between;
        display: flex;

        // counter styles
        .p-menubar-end {
          text-align: right;
          padding-right: 10px;
          .badge {
            margin: unset;
            background: #42f906;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            font-size: 1.3rem;
            text-align: right;
            box-shadow: 0px 0px 7px #00a11d;
            // text-shadow: 1px 1px 21px #1c8b43;
            .symbol {
              color: #2b8b2e;
              text-shadow: 5px 2px 11px #4f5046;
            }
            .title-amount {
              text-shadow: 5px 2px 11px #4f5046;
            }
            .amount {
              color: #ffd800;
              font-weight: 700;
              text-shadow: 1px 1px 5px #4f5046;
            }
          }
        }
  
        .p-menuitem-link {
          background-color:#373737 !important;
          .p-menuitem-text {
            line-height: 2rem;
            color: #fff !important;
            &:hover {
              color: yellow !important;
              text-shadow: 1px 1px 2px yellow;
            }
          }
        }
        .p-menuitem-link.p-ripple.p-menuitem-link-active {
          background-color: #8dc63f !important;
          border-radius: 0 !important;
          .p-menuitem-text {
            line-height: 2rem;
            color: #fff !important;
            font-weight: 900;
            &:hover {
              color: unset;
              text-shadow: unset;
            }
          }
        }
  
        .p-menubar-button {
          margin: 8px 14px;
        }
      }

    }
}
