<ng-container *ngIf="thereIsData">
    <div class="p-grid p-d-flex p-jc-center p-mt-1 home-container">
        <div *ngFor="let data of objectCategory" class="p-col-12 p-md-4 p-lg-2 p-md-2">
                <div  class="box">
                    <div *ngIf="isNew(data.categories)" class="ribbon ribbon-top-right"><span>new</span></div>
                    <div *ngIf="isTop(data.categories)" class="ribbon ribbon-top-left"><span>top</span></div>
                    <img src="{{data.image}}" />
                </div>
        </div>
    </div>
</ng-container>