.layout-footer {
    background: gainsboro;
    padding: 0.4rem;
    color: gray;
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;


}

strong {
    color: yellow;
    font-size: 20px
}